.nav-list__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav-list__item {
  display: inline;
  margin-right: 10px;
  font-size: x-large;
}
.nav-list__item Link {
  text-decoration: none;
}

.nav-list__item Link:hover {
  text-decoration: underline;
}
