.remove-btn {
  margin-left: 25%;
}
table {
  width: 95%;
  table-layout: auto;
  border-collapse: initial;
}

@media (min-width: 413px) {
  .remove-btn {
    margin-left: 40%;
  }
  table {
    font-size: x-large;
  }
}
