.home-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search-bar__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
