.details-container {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.details-container div h1 {
  text-align: center;
}
.poster-img {
  width: 350px;
}
.paragraphs-container {
  padding: 10px;
}
.paragraphs-container p {
  font-size: larger;
}
.back-btn-hide__container {
  display: none;
}
.back-btn__container {
  padding-bottom: 20px;
}

@media (min-width: 413px) {
  .details-container {
    flex-direction: row;
    gap: 20px;
  }
  section {
    width: 600px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }
  .paragraphs-container {
    padding: 20px;
  }
  .paragraphs-container p {
    font-size: x-large;
  }
  .back-btn-hide__container {
    display: flex;
    justify-content: center;
  }
  .back-btn__container {
    display: none;
  }
}
